name: Build Interactive Installer ISO

on:
  workflow_dispatch:
  push:
    tags:
      - 'v*'

jobs:
  build-interactive-iso:
    runs-on: ubuntu-latest
    container: 
      image: fedora:43
      options: --privileged

    steps:
      - name: Build ISO
        uses: jasonn3/build-container-installer@main
        id: build
        with:
          arch: x86_64
          image_name: aethera
          image_repo: guhnope
          image_tag: latest
          version: 43
          variant: ublue-os
          iso_name: aethera-installer.iso

      # This example is for uploading your ISO as a Github artifact. You can do something similar using any cloud storage, so long as you copy the output
      - name: Upload ISO as artifact
        id: upload
        uses: actions/upload-artifact@v4
        with:
          name: ${{ steps.build.outputs.iso_name }}
          path: |
            ${{ steps.build.outputs.iso_path }}/${{ steps.build.outputs.iso_name }}
            ${{ steps.build.outputs.iso_path }}/${{ steps.build.outputs.iso_name }}-CHECKSUM
          if-no-files-found: error
          retention-days: 0
          compression-level: 0
